/*
 * Generated basic css
 */
.page--menu-page__background {
  background-color: #333;
}

.page--menu-page__content {
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item:last-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item:last-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}
#top-right {
  font-size: 2em;
  margin: 5px;
}

/**
 * Helpers
 */
.align-center {
  text-align: center;
  text-align: -webkit-center;
}
.center {
  margin: 0 auto;
}
.row-spacing {
  margin: 10px 0;
}

.full {
  width: 100%;
  height: 100%;
}
.todo {
  color: red;
}

.justify {
  text-align: justify;
}

/*
 * Custom styles
 */
footer {
  padding: 2% 5%;
}
.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  display: block;
  margin: 4px auto;
}
.ons-scroller {
  padding-bottom: 10px;
}
video {
  width: 100%;
}
.ishihara-example {
  max-height: 250px;
}

.overlay {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#filter-bar {
  position: absolute;
  bottom: 20px;
}

#filter-bar .button.filter {
  width: 15%;
  margin: 0 2%;
}

.menu-list {
  text-transform: capitalize;
}

.navigation-bar{
  text-transform: capitalize;
}

.ons-button-inner, .checkbox {
  font-size: 1.3em;
}

/**
 * Encyclopedia
 */

.detail-picture {
  width: 50%;
}

.list--inset {
  margin-top: 10px;
}

/**
 * Home
 */
#home .align-center:first-of-type {
  margin-top: 20px;
}

.home-btn {
  width: 80%;
  margin: 10px auto;
  text-transform: capitalize;
}

.home-half {
  width: 50%;
}

.chambray {
  color: #000;
  background-color: #fff;
}
.chambray .button {
  color: #fff;
  background-color: #3A539B;
}
.blue {
  color: #FFE400;
  background-color: #005aff;
}
.blue .button {
  color: #005AFF;
  background-color: #FFE400;
}
.light {
  color: #000;
  background-color: #d2efe9;
}
.light .button {
  color: #FFF;
  background-color: #F00;
}
.dark {
  color: #fff;
  background-color: #242424;
}
.dark .button {
  color: #000;
  background-color: #FF0;
}

/**
* About Styles
*/
#about-page a {
  display: inline;
  white-space: inherit;
  word-break: break-all;
  line-height: inherit;
}

#about-page li {
  margin-bottom: 10px;
}

/**
* Camera filters
*/
.colorBlindEffect {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.protanopiaEffect {
  -webkit-filter: url("styles/filters.svg#protanopia") grayscale(0) !important;
  filter: url("styles/filters.svg#protanopia") grayscale(0) !important;
}

.deuteranopiaEffect {
  -webkit-filter: url("styles/filters.svg#deuteranopia") grayscale(0) !important;
  filter: url("styles/filters.svg#deuteranopia") grayscale(0) !important;
}

.tritanopiaEffect {
  -webkit-filter: url("styles/filters.svg#tritanopia") grayscale(0) !important;
  filter: url("styles/filters.svg#tritanopia") grayscale(0) !important;
}

.protanomalyEffect {
  -webkit-filter: url("styles/filters.svg#protanomaly") grayscale(0) !important;
  filter: url("styles/filters.svg#protanomaly") grayscale(0) !important;
}

.deuteranomalyEffect {
  -webkit-filter: url("styles/filters.svg#deuteranomaly") grayscale(0) !important;
  filter: url("styles/filters.svg#deuteranomaly") grayscale(0) !important;
}

.achromatopsiaEffect {
  -webkit-filter: url("styles/filters.svg#achromatopsia") grayscale(0) !important;
  filter: url("styles/filters.svg#achromatopsia") grayscale(0) !important;
}

#active-filter {
  width: 100%;
  display: block;
  font-size: 2.5em;
  text-align: center;
  text-transform: capitalize;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

select.filter{
  width: auto;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

video.stereo {
  width: 50%;
}

/**
* Ishihara
*/

#plateContainer {
  height: 100%;
  width: 40%;
  float: left;
  display: flex;
  align-items: center;
}

#plateContainer.portrait {
  height: 50%;
  width: 100%;
  float: none;
  position: relative;
}

#plateContainer.plate {
  display: block;
}

#plateContainer.portrait ons-col {
  display: flex;
}

#plateContainer.portrait .plate {
  align-self: center;
  flex: 0 0 auto;
}

#anwserContainer{
  width: 60%;
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}

#anwserContainer h3 {
  margin-bottom: 10px;
}

#anwserContainer.portrait {
  height: 50%;
  width: 100%;
  float: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
}

#answerInput {
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.8;
  width: 85%;
}

#anwserContainer .container {
  width: 100%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-right: 1%;
  margin-left: 1%;
}

#anwserContainer .container .button {
  font-size: 2.5em;
  margin-bottom: 10px;
  padding: 10px 0px;
}

#ishiharaTest footer {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

#ishiharaResults h1, #ishiharaResults p {
  margin-left: 10px;
}
