<ons-page class="center" ng-controller="IshiharaController">
  <ons-toolbar fixed-style="true">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Ishihara - Test</div>
  </ons-toolbar>
  <ons-row class="align-center">
    <ons-col>
      <h1>Some Information about the Test PLACEHOLDER</h1>
    </ons-col>
  </ons-row>
  <ons-row class="align-center">
    <ons-col>
      <img src="assets/plates/plate1.png" class="ishihara-example" alt="example">
    </ons-col>
  </ons-row>
  <ons-row class="align-center">
    <ons-col>
      <label class="checkbox">
        <input type="checkbox" ng-model="short">
        <div class="checkbox__checkmark"></div>
        {{"SHORT_TEST" | translate}}
      </label><br>
    </ons-col>
  </ons-row>
  <ons-row class="align-center"">
    <ons-col>
      <ons-button modifier="light" ng-click="navigatorIshihara.pushPage('views/ishihara/ishihara-test.html', {closeMenu: true, short: short})">
        {{"START" | translate}}
      </ons-button>
    </ons-col>
  </ons-row>
  <ons-row class="align-center" style="margin-top: 10px;">
    <ons-col>
      <ons-button modifier="light" ng-click="menu.setMainPage('navigators/navigatorMain.html', {closeMenu: true})">
        {{"BACK_TO_MENU" | translate}}
      </ons-button>
    </ons-col>
  </ons-row>

</ons-page>
