<ons-page class="center" ng-controller="IshiharaController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Ishihara</div>
    </ons-toolbar>
    <ons-row class="align-center" ons-if-orientation="portrait">
        <ons-col>
            <h1>Ishihara test</h1>
        </ons-col>
    </ons-row>
    <ons-row class="align-center" ons-if-orientation="portrait">
        <ons-col>
            <img src="assets/plates/plate-1.jpg" class="ishihara-example" alt="example">
        </ons-col>
    </ons-row>
    <ons-row class="align-center"  ons-if-orientation="portrait" ng-include="'explanations.html'"></ons-row>

    <ons-row class="align-center" id="ishihara-land" ons-if-orientation="landscape">
        <ons-col id="ishihara-preview">
            <img src="assets/plates/plate-1.jpg" class="ishihara-example" alt="example">
        </ons-col>
        <ons-col width="60%" ng-include="'explanations.html'"></ons-col>
    </ons-row>

    <ons-template id="explanations.html">
        <ons-row class="align-center" ons-if-orientation="landscape">
            <ons-col>
                <h1>Ishihara test</h1>
            </ons-col>
        </ons-row>
        <div id="explanations" class="center">
            <ons-row class="row-spacing">
                <ons-col>
                    <ons-button modifier="material"
                                ng-click="navigatorIshihara.pushPage('views/ishihara/ishihara-test.html', {short: short})">
                        <ons-icon icon="fa-pencil-square-o"></ons-icon>
                      {{"START" | translate}}
                    </ons-button>
                </ons-col>
            </ons-row>
            <ons-row class="align-center row-spacing">
                <ons-col>
                    <ons-button modifier="outline"
                                ng-click="menu.setMainPage('navigators/navigatorMain.html')">
                      {{"BACK_TO_MENU" | translate}}
                    </ons-button>
                </ons-col>
            </ons-row>
        </div>
    </ons-template>
</ons-page>
