<ons-page class="center" ng-controller="FarnsworthController">
  <ons-toolbar fixed-style="true">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Farnsworth Test</div>
  </ons-toolbar>
  <ons-row class="align-center">
    <ons-col>
      <h1>Some Information about the Test</h1>
    </ons-col>
  </ons-row>
  <ons-row class="align-center">
    <ons-col>
      <ons-button modifier="material" ng-click="navigatorFarnsworth.pushPage('views/farnsworth/farnsworth-test.html', {closeMenu: true})">
        {{"START" | translate}}
      </ons-button>
    </ons-col>
  </ons-row>
  <ons-row class="align-center row-spacing">
    <ons-col>
      <ons-button modifier="outline" ng-click="menu.setMainPage('navigators/navigatorMain.html', {closeMenu: true})">
        {{"BACK_TO_MENU" | translate}}
      </ons-button>
    </ons-col>
  </ons-row>

</ons-page>
