<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
  <meta charset="utf-8"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>

  <!-- JS dependencies (order matters!) -->
  <script src="scripts/platformOverrides.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-translate/angular-translate.min.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>
  <script src="lib/Sortable/Sortable.js"></script>

  <!-- App Scripts -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/appController.js"></script>
  <script src="scripts/controllers/homeController.js"></script>
  <script src="scripts/controllers/simulatorController.js"></script>
  <script src="scripts/controllers/farnsworthController.js"></script>
  <script src="scripts/controllers/farnsworthTestController.js"></script>
  <script src="scripts/controllers/ishiharaController.js"></script>
  <script src="scripts/controllers/ishiharaTestController.js"></script>
  <script src="scripts/controllers/ishiharaResultsController.js"></script>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css"/>

  <!-- CSP support mode (required for Windows Universal apps) -->
  <link rel="stylesheet" href="lib/angular/angular-csp.css"/>

  <link rel="stylesheet" href="styles/app.css"/>

  <!-- --------------- App init --------------- -->
  <title>Onsen UI Sliding Menu</title>

</head>

<body ng-controller="AppController">
<!-- Cordova reference -->
<script src="cordova.js"></script>
<script src="scripts/index.js"></script>
<!-- -->

<ons-screen>
  <ons-sliding-menu
    menu-page="menu.html"
    direction="left"
    max-slide-distance="260px"
    main-page="navigators/navigatorMain.html"
    swipe-target-width="300px"
    var="menu" swipable="true">
  </ons-sliding-menu>
</ons-screen>


<ons-template id="menu.html">
  <ons-page modifier="menu-page">
    <ons-toolbar modifier="transparent"></ons-toolbar>

    <ons-list class="menu-list">
      <ons-list-item class="menu-item" ng-click="menu.setMainPage('navigators/navigatorMain.html', {closeMenu: true})">
        <ons-icon icon="fa-home"></ons-icon>
        Home
      </ons-list-item>

      <ons-list-item class="menu-item" ng-click="menu.setMainPage('navigators/navigatorIshihara.html', {closeMenu: true})">
        <ons-icon icon="fa-bookmark"></ons-icon>
        Ishihara Test
      </ons-list-item>

      <ons-list-item class="menu-item" ng-click="menu.setMainPage('navigators/navigatorFarnsworth.html', {closeMenu: true})">
        <ons-icon icon="fa-bookmark"></ons-icon>
        100 Hue Test
      </ons-list-item>

      <ons-list-item class="menu-item" ng-click="navigatorMain.pushPage('views/simulator.html', {closeMenu: true})">
        <ons-icon icon="fa-twitter"></ons-icon>
        Vision Simulator
      </ons-list-item>
    </ons-list>

  </ons-page>
</ons-template>
</body>
</html>
