<ons-page class="center" ng-controller="AboutController" id="about-page">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">{{"ABOUT" | translate}}</div>
    </ons-toolbar>
    <ons-row>
        <ons-col width="90%" class="center justify">
            <div ng-bind-html="'ABOUT_PAGE' | translate"></div>
        </ons-col>
    </ons-row>
    <ons-row class="align-center row-spacing">
        <ons-col>
            <ons-button modifier="outline" ng-click="navigatorMain.popPage('navigators/navigatorMain.html')">
              {{"BACK_TO_MENU" | translate}}
            </ons-button>
        </ons-col>
    </ons-row>
</ons-page>
