<ons-page class="center" ng-controller="AboutController" id="about-page">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">{{"ABOUT" | translate}}</div>
    </ons-toolbar>
    <ons-row>
        <ons-col width="90%" class="center">
            <h2>A propos de ColorBlind</h2>
            <p>Cette application a été créée et développée par la Fondation Health On the Net (HON),
                dans le cadre d’une collaboration avec la Fondation Provisu concernant la promotion et prévention des troubles visuels.\n
                La Fondation HON est spécialisée dans l’information de santé de confiance sur Internet.
            Plus d’informations sur HON : <a id="about-hon" ng-click="openExternalLink('https://hon.ch/20-years/fr/a-propos.html')" class="button--quiet">https://hon.ch/20-years/fr/a-propos.html</a></p>

            <p>Puisque les troubles de la vision des couleurs sont fréquents mais peu mis en avant,
                la Fondation Provisu a voulu mettre à disposition des citoyens,
                atteints ou non de ces troubles, une application leur permettant :</p>
            <ul>
                <li>d’estimer, grâce au questionnaire proposé utilisant le test d’Ishihara, le niveau de leur vision des couleurs (Test d’Ishihara).</li>
                <li>d’expérimenter la vision qu’ont les patients atteints de ces troubles visuels.</li>
                <li>d’accéder à un contenu d’informations de qualité sur les troubles de la vision des couleurs.</li>
            </ul>

            <p>La vocation de cette application est de fournir des outils fiables d’information,
                de promotion et de prévention relatifs aux troubles de la vision des couleurs.
                Cette information ne se substitue en aucun cas à une consultation médicale
                et n’a nullement pour vocation de poser un diagnostic.
                Il est donc primordial de consulter votre ophtalmologiste de manière régulière
                et de le contacter en cas de nécessité,
                qui pourra réaliser ces tests dans les conditions réelles de diagnostic.</p>

            <p>Le simulateur de vision ainsi que l’outil de reconnaissance des couleurs  dépend des performances des écrans
                ainsi que de la caméra des appareils utilisés. Les écrans de mobiles,
                smartphones et ordinateurs ayant chacun des caractéristiques techniques différentes
                et affichant des résolutions d’écrans différentes, veuillez noter que les résultats affichés
                peuvent être limités et différer en fonction de l’appareil utilisé.</p>

            <p>L’application a été entièrement financée par la Fondation Provisu,
                une Fondation de droit privée Suisse et n’affiche aucune publicité.</p>

            <h3>Politique de confidentialité</h3>
            <p>La Fondation HON ne récupère ni ne stocke aucune donnée provenant de l’utilisateur lors de l’utilisation de cette application.
                L’application stocke dans la mémoire de l’appareil utilisé les préférences sélectionnées par l’utilisateur
                lorsqu’il fait usage de celle-ci (couleurs utilisées, langue choisie.)</p>

            <h3>Références :</h3>
            <label>Test d’Ishihara :</label>
            <ul>
                <li><a class="button--quiet" ng-click="openExternalLink('http://www.richmondproducts.com/files/3113/1550/1433/5566_Ishihara_38_Plate_Instructions_and_score_sheet_071410.pdf')">
                    http://www.richmondproducts.com/files/3113/1550/1433/5566_Ishihara_38_Plate_Instructions_and_score_sheet_071410.pdf</a></li>
                <li><a class="button--quiet" ng-click="openExternalLink('http://www.ftpuso.com/manuals/Luxvision/Ishihara%20-%2038.pdf')">
                    http://www.ftpuso.com/manuals/Luxvision/Ishihara%20-%2038.pdf</a></li>
            </ul>
            <label>Contenu d’information :</label>
            <ul>
                <li><a class="button--quiet" ng-click="openExternalLink('http://orthoptie.net/ToposFB/rabcld.pdf')">
                    http://orthoptie.net/ToposFB/rabcld.pdf</a></li>
                <li><a class="button--quiet" ng-click="openExternalLink('http://www.doctissimo.fr/html/sante/bien_voir/sa_4944_daltonisme.htm')">
                    http://www.doctissimo.fr/html/sante/bien_voir/sa_4944_daltonisme.htm</a></li>
            </ul>
            <label>Outil d’identification des couleurs :</label>
            <p>Cet outil utilise une librairie externe (Librairy NTC.js, projet « Name that color » sous licence CC BY 2.5),
                et le projet initial a subi quelques modifications avec l’accord de son auteur, afin de correspondre à notre application.<br/>
            <a class="button--quiet" ng-click="openExternalLink('https://creativecommons.org/licenses/by/2.5 ')">https://creativecommons.org/licenses/by/2.5 </a><br/>
            <a class="button--quiet" ng-click="openExternalLink('http://chir.ag/projects/ntc')">http://chir.ag/projects/ntc </a></p>
            <p>Pour toute question, vous pouvez contacter la Fondation HON :
                <span class="button--quiet"><a href="mailto:provisu@healthonnet.org"></a>provisu@healthonnet.org</span></p>

            <p>Date de dernière mise à jour : <span class="toolbar-button--quiet">Septembre 2016</span></p>
        </ons-col>
    </ons-row>
    <ons-row class="align-center row-spacing">
        <ons-col>
            <ons-button modifier="outline" ng-click="navigatorMain.popPage('navigators/navigatorMain.html')">
              {{"BACK_TO_MENU" | translate}}
            </ons-button>
        </ons-col>
    </ons-row>
</ons-page>
