<ons-page class="center over-hidden" ng-controller="colorPickerController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">{{"COLOR_PICKER" | translate}}</div>
        <div class="right">
            <i id="top-right" ng-click="show()" class="fa fa-question-circle-o"></i>
        </div>
    </ons-toolbar>
    <ons-row style="position: relative">
        <video style="display: none;" autoplay></video>
        <canvas class="full"></canvas>
        <div class="overlay">
            <ons-row id="active-filter">{{currentShade | translate}}</ons-row>
        </div>
    </ons-row>
</ons-page>
