<ons-page class="center over-hidden" ng-controller="colorPickerController"ng-init="init()">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">{{"COLOR_PICKER" | translate}}</div>
        <div class="right">
            <i id="top-right" ng-click="show()" class="fa fa-question-circle-o"></i>
        </div>
    </ons-toolbar>
    <ons-row style="position: relative">
        <video style="display: none;" autoplay></video>
        <canvas class="full"></canvas>
        <div class="overlay">
            <ons-row id="selected-color">{{currentShade | translate}}</ons-row>
            <ons-button modifier="material" id="tts-btn"
                        ng-show="TTS"
                        ng-click="readColor(currentShade)"><i class="fa fa-audio-description"></i></ons-button>
        </div>
    </ons-row>
</ons-page>
