<ons-page class="center" ng-controller="HomeController">
  <ons-toolbar fixed-style="true">
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()">
          <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Color Blind</div>
  </ons-toolbar>
    <ons-row class="align-center" style="margin-top: 50px;">
            <div id='encyclopedia' class="home-btn" modifier="light"
                 ng-click="menu.setMainPage('navigators/navigatorEncyclopedia.html', {closeMenu: true})">
                Learn About Colorblindness
            </div>
    </ons-row>
    <ons-row class="align-center">
      <ons-col>
        <div id='ishihara' class="home-btn" modifier="light"
             ng-click="menu.setMainPage('navigators/navigatorIshihara.html', {closeMenu: true})">
          Ishihara test
        </div>
        <div id='farnsworth' class="home-btn" modifier="light"
             ng-click="menu.setMainPage('navigators/navigatorFarnsworth.html', {closeMenu: true})">
          Farnsworth test
        </div>
      </ons-col>
    </ons-row>
    <ons-row class="align-center" ons-if-platform="android">
        <ons-col>
            <div id='simulator' class="home-btn"  modifier="light"
                 ng-click="navigatorMain.pushPage('views/simulator.html', {closeMenu: true})">
                Vision Simulator
            </div>
        </ons-col>
    </ons-row>
</ons-page>
