<ons-page class="center" id="home" ng-controller="HomeController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Color Vision Quiz</div>
    </ons-toolbar>
    <ons-row class="align-center">
        <ons-button modifier="material" class="button button--large home-btn" id='encyclopedia'
                    ng-click="menu.setMainPage('navigators/navigatorEncyclopedia.html', {closeMenu: true})">
          {{"ENCYCLOPEDIA" | translate}}
        </ons-button>
    </ons-row>
    <ons-row class="align-center">
        <ons-button modifier="material" class="button button--large home-btn" id='ishihara'
                    ng-click="menu.setMainPage('navigators/navigatorIshihara.html')">
          {{"ISHIHARA_TITLE" | translate}}
        </ons-button>
    </ons-row>
    <!-- hide
    <ons-row class="align-center">
        <ons-button modifier="material" class="button button--large home-btn" id='farnsworth'
             ng-click="menu.setMainPage('navigators/navigatorFarnsworth.html', {closeMenu: true})">
            Farnsworth test
        </ons-button>
    </ons-row>
    -->
    <ons-row class="align-center" ons-if-platform="android" ng-show="osVersion >= '4.4.4'">
        <ons-button modifier="material" class="button button--large home-btn" id="simulator"
                    ng-click="navigatorMain.pushPage('views/simulator.html')">
          {{"VISION_SIMULATOR" | translate}}
        </ons-button>
    </ons-row>
    <ons-row class="align-center" ons-if-platform="android" ng-show="osVersion >= '4.4.4'" style="padding-top: 1px;">
        <ons-button modifier="material" class="button button--large home-btn" id="colorPicker"
                    ng-click="navigatorMain.pushPage('views/color-picker.html')">
          {{"COLOR_PICKER" | translate}}
        </ons-button>
    </ons-row>
    <ons-col class="align-center">
        <div class="home-btn">
            <ons-icon icon="fa-universal-access"></ons-icon>
          {{"CHANGE_THEME" | translate}}</div>
        <ons-col width="90%" class="center" id="theme-switcher" themer-switcher></ons-col>
    </ons-row>
</ons-page>
