<ons-page class="center" ng-controller="IshiharaController">
  <ons-toolbar fixed-style="true">
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Ishihara - Test</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-refresh" fixed-width="false"
                  style="font-size: 26px; vertical-align: -4px;" ></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-row style="text-align: center;">
    <ons-col>
      <h1>Some Information about the Test PLACEHOLDER</h1>
    </ons-col>
  </ons-row>
  <ons-row style="text-align: center;">
    <ons-col>
      <ons-button modifier="light" ng-click="navigatorIshihara.pushPage('views/ishihara-test.html', {closeMenu: true})">
        {{"START" | translate}}
      </ons-button>
    </ons-col>
  </ons-row>
  <ons-row style="margin-top: 10px; text-align: center;">
    <ons-col>
      <ons-button modifier="light" ng-click="menu.setMainPage('navigators/navigatorMain.html', {closeMenu: true})">
        {{"BACK_TO_MENU" | translate}}
      </ons-button>
    </ons-col>
  </ons-row>

</ons-page>
