<ons-page class="center" ng-controller="OptionsController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">{{"OPTIONS" | translate}}</div>
    </ons-toolbar>
    <ons-row class="align-center">
        <ons-col>
            <h1>{{"OPTIONS" | translate}}</h1>
        </ons-col>
    </ons-row>
    <ons-row class="align-center row-spacing">
        <ons-col>
            <ons-button modifier="outline" ng-click="navigatorMain.popPage('navigators/navigatorMain.html')">
              {{"BACK_TO_MENU" | translate}}
            </ons-button>
        </ons-col>
    </ons-row>
</ons-page>
