<ons-page class="center" ng-controller="OptionsController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">Color Blind</div>
    </ons-toolbar>
    <ons-row class="align-center">
        <ons-row>
            <ons-col>
                <h1>{{"OPTIONS" | translate}}</h1>
            </ons-col>
        </ons-row>
        <ons-row class="align-center">
            <ons-col width="90%" class="center"><h3>{{"CHANGE_THEME" | translate}}  :</h3>
                <div id="theme-switcher" themer-switcher></div>
            </ons-col>
        </ons-row>
        <ons-row class="align-center">
            <div class="home-btn"><h3>{{"CHANGE_LANGUAGE" | translate}} : </h3>
                <div class="button-bar" style="width:280px;margin:0 auto;">
                    <div class="button-bar__item" ng-repeat="locale in locales" >
                        <input ng-click="changeLanguage(localeName)" type="radio" name="segment-a" ng-model="localeName" ng-value="locale">
                        <button class="button-bar__button">{{locale}}</button>
                    </div>
                </div>
            </div>
        </ons-row>
    </ons-row>
    <ons-row class="align-center row-spacing">
        <ons-col>
            <ons-button modifier="outline" ng-click="navigatorMain.popPage('navigators/navigatorMain.html')">
              {{"BACK_TO_MENU" | translate}}
            </ons-button>
        </ons-col>
    </ons-row>
</ons-page>
