<ons-page class="center" ng-controller="simulatorController">
  <ons-toolbar fixed-style="true">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Simulator</div>
  </ons-toolbar>
  <ons-row style="position: relative">
    <video autoplay></video>
    <div class="overlay">
      <ons-row id="active-filter">{{ activeFilter | translate }}</ons-row>
      <ons-row id="filter-bar">
        <button ng-click="resetEffect()" class="button filter">{{ "NORMAL" | translate }}</button>
        <button ng-click="deuteranopiaEffect()" class="button filter">{{ "DEUTERANOPIA" | translate }}</button>
        <button ng-click="protanopiaEffect()" class="button filter">{{ "PROTANOPIA" | translate }}</button>
        <button ng-click="tritanopiaEffect()" class="button filter">{{ "TRITANOPIA" | translate }}</button>
        <button ng-click="achromatopsiaEffect()" class="button filter">{{ "ACHROMATOPSIA" | translate }}</button>
      </ons-row>
    </div>
  </ons-row>
</ons-page>
