<ons-page class="center" ng-controller="simulatorController">
  <ons-toolbar fixed-style="true">
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Simulator</div>
  </ons-toolbar>
  <ons-row style="position: relative">
    <video autoplay></video>
    <div class="overlay">
      <ons-row id="filter-bar">
        <button ng-click="resetEffect()" class="button filter">Normal</button>
        <button ng-click="deuteranopiaEffect()" class="button filter">deuteranopia</button>
        <button ng-click="protanopiaEffect()" class="button filter">protanopia</button>
        <button ng-click="tritanopiaEffect()" class="button filter">tritanopia</button>
        <button ng-click="achromatopsiaEffect()" class="button filter">Color Blind</button>
      </ons-row>
    </div>
  </ons-row>
</ons-page>
