<ons-page class="center" ng-controller="EncyclopediaController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">{{"ENCYCLOPEDIA" | translate}}</div>
    </ons-toolbar>
    <ons-list modifier="inset">
        <ons-list-header>{{"TOPIC_HEADER_COLORBLINDNESS" | translate}}</ons-list-header>
        <ons-list-item ng-repeat="topic in topicsColorblindess" modifier="tappable chevron"
                       ng-click="navigatorEncyclopedia.pushPage('views/encyclopedia/encyclopedia-topic.html',
        { topic: topic })">{{topic.label | translate}}</ons-list-item>
        <ons-list-header>{{"TOPIC_HEADER_TESTS" | translate}}</ons-list-header>
        <ons-list-item ng-repeat="topic in topicsTests" modifier="tappable chevron"
                       ng-click="navigatorEncyclopedia.pushPage('views/encyclopedia/encyclopedia-topic.html',
        { topic: topic })">{{topic.label | translate}}</ons-list-item>
    </ons-list>
    <ons-row class="align-center row-spacing">
        <ons-col>
            <ons-button modifier="outline"
                        ng-click="menu.setMainPage('navigators/navigatorMain.html')">
              {{"BACK_TO_MENU" | translate}}
            </ons-button>
        </ons-col>
    </ons-row>

</ons-page>
