<ons-page class="center" ng-controller="EncyclopediaTopicController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">Encyclopedia</div>
    </ons-toolbar>
    <ons-row class="align-center">
        <ons-col>
            <h1>{{topic.label}}</h1>
            <p>{{topic.description}}</p>
            <p>By {{topic.author}}</p>
        </ons-col>
    </ons-row>
</ons-page>
