<ons-page class="center" ng-controller="EncyclopediaTopicController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-back-button>{{"BACK" | translate}}</ons-back-button>
        </div>
        <div class="center">{{"ENCYCLOPEDIA" | translate}}</div>
    </ons-toolbar>
    <ons-row class="align-center">
        <ons-col width="90%" class="center">
            <h1>{{topic.label | translate}}</h1>
            <div class="justify" ng-bind-html='topic.description | translate'></div>
            <img class="detail-picture" ng-src="{{topic.image}}" alt=""/>
            <div class="justify" ng-bind-html='topic.more | translate'></div>
            <p>Date : {{topic.date}}</p>
        </ons-col>
    </ons-row>
</ons-page>
