<ons-page class="center" ng-controller="EncyclopediaController">
    <ons-toolbar fixed-style="true">
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Encyclopedia</div>
    </ons-toolbar>
        <ons-list modifier="inset">
            <ons-list-header>Some Information about colorblindness</ons-list-header>
            <ons-list-item ng-repeat="topic in topics" modifier="tappable chevron"
                    ng-click="navigatorEncyclopedia.pushPage('views/encyclopedia/encyclopedia-topic.html',
        { topic: topic })">{{topic.label}}</ons-list-item>
        </ons-list>
    <ons-row class="align-center" style="margin-top: 10px;">
        <ons-col>
            <ons-button modifier="outline"
                        ng-click="menu.setMainPage('navigators/navigatorMain.html', {closeMenu: true})">
              {{"BACK_TO_MENU" | translate}}
            </ons-button>
        </ons-col>
    </ons-row>

</ons-page>
